# Сборки
_build/
_builds/
build/
.build/

# Артефакты
*.tar.gz
*.deb
*.rpm
*.o
*.so
*.a

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Временные файлы
*.swp
*.un~
*~

# IDE
.vscode/
.idea/

# Загрузки
artifacts/
gh_*.deb

# Логи
*.log

# Лишнее из lab08
Dockerfile
.travis.yml
hello_world.cpp
demo/
